{"openapi": "3.0.1", "info": {"title": "SocialMat API", "description": "API documentation for SocialMat.app backend - automatic subtitle generation for short-form content", "version": "1.0"}, "servers": [{"url": "https://api.socialmat.cz", "description": "Production server"}, {"url": "http://localhost:8080", "description": "Local development server"}], "security": [{"bearerAuth": []}], "tags": [{"name": "Projects", "description": "Project management and processing endpoints"}, {"name": "Subtitles", "description": "Endpoints to retrieve and edit project subtitles"}], "paths": {"/api/projects/{projectId}/subtitles": {"get": {"tags": ["Subtitles"], "summary": "Get project subtitles", "description": "Returns the list of subtitles for the given project ID.", "operationId": "getProjectSubtitles", "parameters": [{"name": "projectId", "in": "path", "required": true, "schema": {"type": "integer", "format": "int64"}}], "responses": {"200": {"description": "Subtitles retrieved successfully", "content": {"*/*": {"schema": {"type": "array", "items": {"$ref": "#/components/schemas/SubtitleDTO"}}}}}, "404": {"description": "Project not found", "content": {"*/*": {"schema": {"type": "array", "items": {"$ref": "#/components/schemas/SubtitleDTO"}}}}}}}, "put": {"tags": ["Subtitles"], "summary": "Replace project subtitles", "description": "Replaces all subtitles for the given project with the provided list. Useful for manual corrections.", "operationId": "updateProjectSubtitles", "parameters": [{"name": "projectId", "in": "path", "required": true, "schema": {"type": "integer", "format": "int64"}}], "requestBody": {"content": {"application/json": {"schema": {"type": "array", "items": {"$ref": "#/components/schemas/SubtitleDTO"}}}}, "required": true}, "responses": {"400": {"description": "Invalid request body", "content": {"*/*": {"schema": {"type": "array", "items": {"$ref": "#/components/schemas/SubtitleDTO"}}}}}, "404": {"description": "Project not found", "content": {"*/*": {"schema": {"type": "array", "items": {"$ref": "#/components/schemas/SubtitleDTO"}}}}}, "200": {"description": "Subtitles updated successfully", "content": {"*/*": {"schema": {"type": "array", "items": {"$ref": "#/components/schemas/SubtitleDTO"}}}}}}}}, "/api/projects/{id}": {"get": {"tags": ["Projects"], "summary": "Get project by ID", "description": "Returns a single project with subtitles and generated description if available.", "operationId": "getProject", "parameters": [{"name": "id", "in": "path", "required": true, "schema": {"type": "integer", "format": "int64"}}], "responses": {"404": {"description": "Project not found", "content": {"*/*": {"schema": {"$ref": "#/components/schemas/ProjectResponseDTO"}}}}, "200": {"description": "Project retrieved successfully", "content": {"*/*": {"schema": {"$ref": "#/components/schemas/ProjectResponseDTO"}}}}}}, "put": {"tags": ["Projects"], "summary": "Update project", "description": "Updates project name/description.", "operationId": "updateProject", "parameters": [{"name": "id", "in": "path", "required": true, "schema": {"type": "integer", "format": "int64"}}], "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/ProjectCreateDTO"}}}, "required": true}, "responses": {"400": {"description": "Invalid request body", "content": {"*/*": {"schema": {"$ref": "#/components/schemas/ProjectResponseDTO"}}}}, "200": {"description": "Project updated successfully", "content": {"*/*": {"schema": {"$ref": "#/components/schemas/ProjectResponseDTO"}}}}, "404": {"description": "Project not found", "content": {"*/*": {"schema": {"$ref": "#/components/schemas/ProjectResponseDTO"}}}}}}, "delete": {"tags": ["Projects"], "summary": "Delete project", "description": "Deletes a project and associated data.", "operationId": "deleteProject", "parameters": [{"name": "id", "in": "path", "required": true, "schema": {"type": "integer", "format": "int64"}}], "responses": {"404": {"description": "Project not found", "content": {"*/*": {"schema": {"type": "object", "additionalProperties": {"type": "string"}}}}}, "200": {"description": "Project deleted successfully", "content": {"*/*": {"schema": {"type": "object", "additionalProperties": {"type": "string"}}}}}}}}, "/api/projects": {"get": {"tags": ["Projects"], "summary": "List projects", "description": "Returns all projects for the current user, including metadata.", "operationId": "getAllProjects", "responses": {"200": {"description": "Projects retrieved successfully", "content": {"*/*": {"schema": {"type": "array", "items": {"$ref": "#/components/schemas/ProjectResponseDTO"}}}}}}}, "post": {"tags": ["Projects"], "summary": "Create project", "description": "Creates a new project placeholder to which a video can be uploaded.", "operationId": "createProject", "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/ProjectCreateDTO"}}}, "required": true}, "responses": {"400": {"description": "Invalid request body", "content": {"*/*": {"schema": {"$ref": "#/components/schemas/ProjectResponseDTO"}}}}, "200": {"description": "Project created successfully", "content": {"*/*": {"schema": {"$ref": "#/components/schemas/ProjectResponseDTO"}}}}}}}, "/api/projects/{id}/upload": {"post": {"tags": ["Projects"], "summary": "Upload video for a project", "description": "Uploads a video file (MP4, <= 100MB) for processing (transcription, subtitles, description).", "operationId": "uploadVideo", "parameters": [{"name": "id", "in": "path", "required": true, "schema": {"type": "integer", "format": "int64"}}], "requestBody": {"content": {"multipart/form-data": {"schema": {"required": ["file"], "type": "object", "properties": {"file": {"type": "string", "description": "MP4 video file (<= 100MB)", "format": "binary"}}}}}}, "responses": {"400": {"description": "Invalid file or request", "content": {"*/*": {"schema": {"type": "object", "additionalProperties": {"type": "string"}}}}}, "404": {"description": "Project not found", "content": {"*/*": {"schema": {"type": "object", "additionalProperties": {"type": "string"}}}}}, "200": {"description": "Video uploaded successfully", "content": {"*/*": {"schema": {"type": "object", "additionalProperties": {"type": "string"}}}}}, "401": {"description": "Unauthorized", "content": {"*/*": {"schema": {"type": "object", "additionalProperties": {"type": "string"}}}}}}}}, "/api/auth/register": {"post": {"tags": ["auth-controller"], "operationId": "register", "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/RegisterRequestDTO"}}}, "required": true}, "responses": {"200": {"description": "OK", "content": {"*/*": {"schema": {"$ref": "#/components/schemas/AuthResponseDTO"}}}}}}}, "/api/auth/refresh": {"post": {"tags": ["auth-controller"], "operationId": "refreshToken", "requestBody": {"content": {"application/json": {"schema": {"type": "object", "additionalProperties": {"type": "string"}}}}, "required": true}, "responses": {"200": {"description": "OK", "content": {"*/*": {"schema": {"$ref": "#/components/schemas/AuthResponseDTO"}}}}}}}, "/api/auth/logout": {"post": {"tags": ["auth-controller"], "operationId": "logout", "responses": {"200": {"description": "OK", "content": {"*/*": {"schema": {"type": "object", "additionalProperties": {"type": "string"}}}}}}}}, "/api/auth/login": {"post": {"tags": ["auth-controller"], "operationId": "login", "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/LoginRequestDTO"}}}, "required": true}, "responses": {"200": {"description": "OK", "content": {"*/*": {"schema": {"$ref": "#/components/schemas/AuthResponseDTO"}}}}}}}, "/api/projects/{id}/status": {"get": {"tags": ["Projects"], "summary": "Get processing status", "description": "Returns processing status: UPLOADING, PROCESSING, COMPLETED, or ERROR.", "operationId": "getProjectStatus", "parameters": [{"name": "id", "in": "path", "required": true, "schema": {"type": "integer", "format": "int64"}}], "responses": {"404": {"description": "Project not found", "content": {"*/*": {"schema": {"type": "object", "additionalProperties": {"type": "string"}}}}}, "200": {"description": "Status retrieved successfully", "content": {"*/*": {"schema": {"type": "object", "additionalProperties": {"type": "string"}}}}}}}}, "/api/projects/{id}/description": {"get": {"tags": ["Projects"], "summary": "Get AI-generated description", "description": "Returns the AI-generated description for the given project. If the transcription hasn't finished yet, returns HTTP 202 with an informational message.", "operationId": "getProjectDescription", "parameters": [{"name": "id", "in": "path", "required": true, "schema": {"type": "integer", "format": "int64"}}], "responses": {"202": {"description": "Description not ready yet.", "content": {"*/*": {"schema": {"type": "object", "additionalProperties": {"type": "string"}}}}}, "404": {"description": "Project not found.", "content": {"*/*": {"schema": {"type": "object", "additionalProperties": {"type": "string"}}}}}, "200": {"description": "Description ready and returned.", "content": {"*/*": {"schema": {"type": "object", "additionalProperties": {"type": "string"}}}}}, "401": {"description": "Unauthorized.", "content": {"*/*": {"schema": {"type": "object", "additionalProperties": {"type": "string"}}}}}}}}, "/api/health": {"get": {"tags": ["health-controller"], "operationId": "health", "responses": {"200": {"description": "OK", "content": {"*/*": {"schema": {"$ref": "#/components/schemas/HealthComponent"}}}}}}}}, "components": {"schemas": {"SubtitleDTO": {"type": "object", "properties": {"id": {"type": "integer", "format": "int64"}, "startTime": {"type": "number", "format": "double"}, "endTime": {"type": "number", "format": "double"}, "text": {"type": "string"}, "sequenceNumber": {"type": "integer", "format": "int32"}}}, "ProjectCreateDTO": {"required": ["name"], "type": "object", "properties": {"name": {"type": "string"}, "description": {"type": "string"}}}, "ProjectResponseDTO": {"type": "object", "properties": {"id": {"type": "integer", "format": "int64"}, "name": {"type": "string"}, "description": {"type": "string"}, "status": {"type": "string", "enum": ["UPLOADING", "PROCESSING", "COMPLETED", "ERROR"]}, "originalVideoUrl": {"type": "string"}, "processedVideoUrl": {"type": "string"}, "subtitles": {"type": "array", "items": {"$ref": "#/components/schemas/SubtitleDTO"}}, "createdAt": {"type": "string", "format": "date-time"}, "updatedAt": {"type": "string", "format": "date-time"}, "generatedDescription": {"type": "string"}}}, "RegisterRequestDTO": {"required": ["email", "firstName", "lastName", "password"], "type": "object", "properties": {"email": {"type": "string"}, "password": {"maxLength": 2147483647, "minLength": 6, "type": "string"}, "firstName": {"type": "string"}, "lastName": {"type": "string"}}}, "AuthResponseDTO": {"type": "object", "properties": {"token": {"type": "string"}, "refreshToken": {"type": "string"}, "type": {"type": "string"}, "userId": {"type": "integer", "format": "int64"}, "email": {"type": "string"}, "firstName": {"type": "string"}, "lastName": {"type": "string"}}}, "LoginRequestDTO": {"required": ["email", "password"], "type": "object", "properties": {"email": {"type": "string"}, "password": {"type": "string"}}}, "HealthComponent": {"type": "object", "properties": {"description": {"type": "string"}, "status": {"type": "string"}}}}, "securitySchemes": {"bearerAuth": {"type": "http", "scheme": "bearer", "bearerFormat": "JWT"}}}}